@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
  #app, main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  html {
    scroll-behavior: smooth;
    font-family: 'Manrope', system-ui, sans-serif;
  }
}
